<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbGpsglobalEntities" connectionString="metadata=res://*/ModelGps.csdl|res://*/ModelGps.ssdl|res://*/ModelGps.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S_ALVAREZ\\DEVELOPER;initial catalog=DbGlobalCertification;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>